.git
.gradle
.gradle-local
**/.DS_Store
**/build/
!services/order-service/build/
!services/order-service/build/libs/
!services/order-service/build/libs/order-service-*.jar
!services/payment-service/build/
!services/payment-service/build/libs/
!services/payment-service/build/libs/payment-service-*.jar
!services/dispatch-service/build/
!services/dispatch-service/build/libs/
!services/dispatch-service/build/libs/dispatch-service-*.jar
